@media screen{
	.dashboard-container .categories-container{
		position: relative;
		margin-top: 1%;
		height: 10%;
		width: 95%;
		overflow-y: hidden;
		overflow-x: auto;
		scroll-behavior: auto;
		display: flex;
	}

	.current-selected-category{
		border: solid;
		border-radius: 10%;
		background-color: black;
		color: white;
		padding-left: 1%;
		padding-right: 1%;
		margin-bottom: 2%;
		margin-right: 1%;
		border-width: 2px;
		text-align: center;
	}

	.show-sort--button{
		border: none;
		width: 8%;
		margin-top: 1%;
		background-color: inherit;
	}

	.show-sort--button:hover{
		opacity: 0.5;
	}

	.show-sort--button img{
		width: 35%;
	}

	.category_sort__options{
		margin-left: 25%;
	}

	.category{
		padding-left: 1%;
		padding-right: 1%;
		margin-bottom: 2%;
		margin-right: 1%;
		border: solid;
		border-width: 2px;
		border-radius: 10%;
		background-color: lightgrey;
	}

	.category__show--button{
		text-align: center;
		height: auto;
		width: 100%;
		border: none;
		background-color: inherit;
	}

	.category .pin-blank--img{
		width: 25%;
		margin-left: 50%;
	}

	.category .pin-shaded--img{
		width: 35%;
		margin-left: 50%;
	}

	.category__upvote--button{
		text-align:center;
		height: 100%;
		width: 5%;
		border: none;
		background-color: inherit;
	}

	.category__downvote--button{
		text-align: center;
		height: 100%;
		width: 5%;
		border: none;
		background-color: inherit;
	}

	.category .thumb-blank--img{
		width: 100%;
	}

	.category .thumb-shaded--img{
		width: 60%;
	}

	.category img:hover{
		opacity: 0.5;
	}

	.category .label{
		width: 10%;
	}

	.category__save--button{
		text-align:center;
		height: 100%;
		width: 50%;
		border: none;
		background-color: inherit;
	}

	.category .category__show--button:hover{
		opacity: 0.5;
	}
}