@media screen and (min-width: 950px){
	.comment__container .thumb-blank--img{
		width: 100%;
	}

	.comment__container .thumb-shaded--img{
		width: 60%;
	}

	.comment__container img:hover{
		opacity: 0.5;
	}

	.comment__upvote--button{
		text-align:center;
		height: 100%;
		width: 5%;
		border: none;
		overflow: hidden;
		background-color: inherit;
	}

	.comment__downvote--button{
		text-align: center;
		height: 100%;
		width: 5%;
		border: none;
		overflow: hidden;
		background-color: inherit;
	}

	.replies__container{
		margin-left: 5%;
		margin-top: 1%;
		margin-bottom: 1%;
	}

	.replies__container .thumb-blank--img{
		width: 100%;
	}

	.replies__container .thumb-shaded--img{
		width: 60%;
	}

	.replies__container img:hover{
		opacity: 0.5;
	}

	.replies__container .show-replies--button{
		background: none;
		border: none;
		color: blue;
	}

	.replies__container .show-replies--button:hover{
		opacity: 0.8;
	}

	.reply__container{
		margin: 1%;
		box-shadow: black;
	}

	.reply__upvote--button{
		text-align:center;
		height: 100%;
		width: 5%;
		border: none;
		background-color: inherit;
	}

	.reply__downvote--button{
		text-align: center;
		height: 100%;
		width: 5%;
		border: none;
		background-color: inherit;
	}
}