@media screen{
	.communityboard-container{
		height: 95%;
		width: 75%;
		position: absolute;
		top: 5%;
		left: 25%;
		padding-left: 5px;
		overflow-y: auto;
	}

	.communityboard-container .category__tag{
		margin: 1%;
		background-color: lightblue;
		border-radius: 10%;
	}

	.communityboard-container .community__tag{
		margin: 1%;
		background-color: pink;
		border-radius: 10%;
	}

	.communityboard-container .community__show-settings--button{
		position: absolute;
		top: 6%;
		right: 0px;
		border: none;
		height: 10%;
		background: inherit;
	}

	.communityboard-container .community__show-settings--button img{
		height: 100%;
	}

	.communityboard-container .community__settings{
		visibility: hidden;
		position:absolute;
		top: 16%;
		right: 0%;
		z-index: 1000;
		width: 10%;
	}

	.communityboard-container .community__settings button{
		width: 100%;
	}

	.communityboard-container .topics-container{
		position: relative;
		height: 65%;
		width: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		scroll-behavior: auto;
	}
}